@import "variaveis.less";

#colors() {
    backgroundColor: @corSecundaria;
    textColor: @corTercearia;
    buttonColor: @corQuaternaria;
    bodyColor: @corPrimaria;
    hoverColor: @corQuinaria;
}