//cores
@corPrimaria: #f5f6fa;
@corSecundaria: #182C61;
@corTercearia: #fff;
@corQuaternaria: #44bd32;
@corQuinaria:#4cd137;

//@media
@breakpointTablet: ~"(min-width: 768px) and (max-width: 1023px)";
@breakpointMobile: ~"(max-width: 767px)";